* {box-sizing: border-box; margin:0; padding:0;}
body {font-family:'Work Sans', sans-serif; background-image: url(LAZ/tlo-sznury.jpg);
			
      margin: 0; padding: 0; font-size: 13px; line-height: 15px; color: black;}
	   a {color: #FFFACD}
.main-0 {
    display: flex; 
    justify-content: center;
    border: 0px red solid; 
    flex-direction: column;
	font-size: 14px; 
	line-height: 18px; 
	color: black;
}
.container-main {
    display: flex; 
	width: 1200px; height: 2200px;
    justify-content: center;
	
    border: 0px green solid; 
    flex-direction: row;
	font-size: 14px; 
	line-height: 18px; 
	color: black;
	border: 0px white solid; 
}

.container-left {
    display: flex;
    flex-direction:column;
    width: 250px; height: 2000px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 10px 10px 10px;
    padding: 30px 20px 20px 50px;
	font-size: 14px; 
	line-height: 18px; 
	color: #D9E0C6;
	border: 0px ridge #8AA24E; border-radius: 20px;
}
.i1{transition: transform .2s;}
.i1:hover{transform: scale(1.9);}
.i2{transition: transform .2s;}
.i2:hover{transform: scale(2.2);}



.container-center {
    display: flex;
    flex-direction: column;
    width: 400px; height: 2000px;
    background-image: url(LAZ/tlo-sznury2.jpg);
    margin: 170px 10px 10px 10px;
    padding: 20px 30px 20px 50px;
	font-size: 14px; 
	border: 0px black solid; 
	line-height: 20px; 
	color:#D9E0C6;
	border: 0px ridge #8AA24E; border-radius: 20px;
}
.container-right {
    display: flex;
    flex-direction: column;
    width: 350px; height: 1450px;
    background-image: url(LAZ/tlo-sznury2.jpg);
    margin: 50px 10px 10px 50px;
    padding: 30px 10px 10px 50px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
}
img {width: 100%;border: 3px ridge black; border-radius: 13px; margin-top:20px; margin-bottom:20px;}
.i1 {width: 80%; }
.i2 {width: 90%; }

.container-last {
    display: flex;
    flex-direction: column;
    width: 1115px; height: 250px;
    background-image: url(LAZ/tlo-sznury2.jpg);
    margin: 80px 10px 80px 10px;
    padding: 10px 10px 10px 10px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
}
.last0 {
	display: flex;
    flex-direction: column;
    width: 1100px; height: 20px;
    margin: 30px 10px 10px 50px;
    padding: 20px 10px 10px 10px;
	text-align: left;
	font-size: 22px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}
.last {
    display: flex;
    flex-direction: row;	
	 width: 1100px; height: 420px;}
	
	.last1 {
	display: flex;
    flex-direction: column;
    width: 180px; height: 250px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 20px 30px 20px;
    padding: 10px 20px 30px 20px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}
	.last2
	{
	display: flex;
    flex-direction: column;
    width: 180px; height: 250px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 20px 30px 20px;
    padding: 10px 20px 30px 20px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}
	.last3
	{
  display: flex;
    flex-direction: column;
    width: 180px; height: 250px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 20px 30px 20px;
    padding: 10px 20px 30px 20px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}
	.last4
	{
	display: flex;
    flex-direction: column;
    width: 180px; height: 250px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 20px 30px 20px;
    padding: 10px 20px 30px 20px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}
	.last5
	{
	display: flex;
    flex-direction: column;
    width: 180px; height: 250px;
    background-image: url(LAZ/tlo-sznury1.jpg);
    margin: 50px 20px 30px 20px;
    padding: 10px 20px 30px 20px;
	font-size: 14px; 
	line-height: 18px; 
	color:#D9E0C6;
    border: 0px ridge #8AA24E; border-radius: 20px;
	}